@media (max-width: 1200px) {
    .container{
        flex-direction: column;
        height: unset;
    }
    .container__photo {
        min-width: 100vw;
        min-height: 100vh;
    }
    .container__content{
        min-width: 100vw;
    }
    .section .section__wrap {
        width: 70vw
    }
}

@media (max-width: 300px) {
    #s3 .section__wrap .service-list .service-list__item {
        font-size: 1.5rem;
        line-height: 2.5em;
    }
    #s3 .section__wrap .service-list .service-list__item i{
        font-size: 1.5rem;
        line-height: 2em;
        width: 2em;
        height: 2em;
        margin-right: 1em;
    }
}


