html {
    height: 100%;

    font-family: 'Arapey', serif;
    font-weight: 300;
    letter-spacing: .05em;
    color: black;
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}
h1 {
    font-family: "Abril Fatface", serif;
    font-size: 2.5rem;
    letter-spacing: 0.03em;
}
h2 {
    font-family: "Abril Fatface", serif;
    font-size: 2.1rem;
    letter-spacing: 0.05em;
}
p {
    font-size: 1.1rem;
    line-height: 1.6em;
}
a {
    text-decoration: none;
}
textarea {
    font-family: system-ui;
    font-size: 1.1rem;
}

.container {
    display: flex;
    height: 100vh;
}

.container__photo {
    position: relative;
    width: 50vw;
    height: 100vh;
}

.container__photo > .photo__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*-o-transition: opacity 4s ease;*/
    /*-webkit-transition: opacity 1s ease;*/
    background: url("img.png");
    /*background: url("http://www.templatefoundation.com/previews/miller/assets/img/background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}

.container__content {
    width: 50%;
    height: 100%;

    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__section {
    min-width: 100%;
    min-height: 100vh;
}

@media (max-width: 1200px) {
    .container{
        flex-direction: column;
        height: unset;
    }
    .container__photo {
        min-width: 100vw;
        min-height: 100vh;
    }
    .container__content{
        min-width: 100vw;
    }
}

.section .section__wrap {
    margin: 15%;
    padding: 10%;
    width: 50vh
}

#s2, #s3 {
    height: 70vh;
}

@media (max-width: 1200px) {
    .section .section__wrap {
        width: 70vh
    }
}
@media (max-width: 1000px) {
    .section .section__wrap {
        width: 50vh
    }
}

@media (max-width: 700px) {
    .section .section__wrap {
        width: 40vh
    }
}

.animated {
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 15%;
    }
}

/* Start. Service List */
ul.service-list {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
ul.service-list li.service-list__item {
    font-size: 2rem;
    line-height: 2.5em;
}
ul.service-list li.service-list__item i {
    font-size: 1.2rem;
    line-height: 3em;
    width: 3em;
    height: 3em;
    margin-right: 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background: #111;
}
/* End. Service List */

/* Start. Contact List */
ul.contact-list {
    list-style: none;
    padding: unset;
}
ul.contact-list > li {
    margin-bottom: 1em;
}
ul.contact-list > li > i {
    margin-right: 1em;
}
/* End. Contact List */

/* Start. Button "Learn More" */
.hvr-sweep-to-right {
    margin-top: 10%;
    background-color: black;
    color: white;
    border-radius: 40px;
    line-height: 3em;
    display: inline-block;
    padding: 0 2.6em;
    overflow: hidden;
    font-size: 1.3rem;

    /*display: inline-block;*/
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* End. Button "Learn More" */


/* Form Send-email. Start */
form.send-email {
    color: white;
    font-size: 2rem;
    margin-top: 1.3em;
}
form.send-email > .form-control{
    font-size: 1.1rem;
    margin-bottom: 1em;
    width: 100%;

    display: block;
    color: white;
    background: black;
    border: none !important;
    border-radius: 35px;
    line-height: 3.2em;
    padding-right: 1.6em;
    padding-left: 1.6em;
}
form.send-email .form-control::placeholder{
    color: white;
}

form.send-email button {
    border: 1px solid white;
    margin-top: 5%;
    cursor: pointer;
}
form.send-email.muted{
    pointer-events: none;
}
form.send-email > button.disabled {
    pointer-events: none;
}
/* Form Send-email. End */

/* Spinner. Start  */
.lds-facebook {
    display: none;
    position: relative;
    left: 4rem;
    top: -0.5rem;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #000;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: -0.06s;
}
.lds-facebook div:nth-child(4) {
    left: 80px;
    animation-delay: unset;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
/* Spinner. End  */

/* Notify. Start */
.notify-success-sending {
    display: none;
    margin-top: 5em;
    background-color: #2098d1;
    color: white;
    padding: 20px;
    border-radius: 3px;
}
.notify-success-sending h3 {
    margin-top: auto;
}
.notify-success-sending h3 i {
    margin-right: 5px;
}
/* Notify. End */

/* Form Errors. Start */
.form-errors {
    display: none;
    color: darkred;
    font-size: 1rem;
    vertical-align: center;
    padding-left: 10px;

    position: relative;
    top: -2.5rem;
    width: 200px;
}
.form-errors p {
    position: absolute;
}
/* Form Errors. Block */

/* Footer. Start */
.footer{
    bottom: 0;
    display: flex;
    justify-content: center;
}
.footer .footer__circle {
    font-size: 1.8em;
    margin: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 1rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
}
.footer .footer__circle:hover{
    background-color: #2098d1;
    cursor: pointer;
}
/* Footer. End */
